  .autocomplete {
    position: relative;
    display: inline-block;
    width: 300px;
  }
  
  .inputt-text {
    border: 1px solid black;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    position: relative;
    left: 50px;
  }
  
  .summit2 {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(3, 20, 18);
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    left: 100px;
    margin: 5px;
    width: 200px;
  }
  
  .autocomplete-items {
    border: 1px solid #d55ada;
    border-bottom: none;
    border-top: none;
    z-index: 9;
    top: 100%;
    left: 0;
    right: 0;
    width: 300px;
    position: relative;
    left: 50px;
  }
  
  .autocomplete-items-item{
    padding: 10px;
    cursor: pointer;
    background-color: rgb(237, 231, 220);
    border-bottom: 1px solid #d4d4d4; 
    position: relative;
  }
  
  .autocomplete-items div:hover {
    background-color: #d6b5b5; 
  }
  
  .autocomplete-active {
    background-color: purple !important; 
    color: #ffffff; 
  }