.dropbtn {
    background-color: purple;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 10rem;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #a3919e;
  }
  
  .filter-input {
    box-sizing: border-box;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
.filter-input:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.arroww {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.downn{
    transform: rotate(45deg);
    margin-left: 2px;
    margin-bottom: 2px;
}

  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .show {display:block;}

  .hide {display:none;}