.hidden {
    display: none;
}

.trigger{
    position: relative;
    left: 50%;
    top: 300px;
    cursor: pointer;
}
  
.trigger:hover + .hidden {
    display: block;
    color: rgb(68, 0, 255);
    position: relative;
    left: 50%;
    top: 300px;
}