  body {
    margin: 0;
  }

.player {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: 0;
  }
  
  .content2 {
    position: fixed;
    bottom: 0;
    background: rgba(5, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    left:0
  }
  
  .butn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    z-index: 1;
  }
  
  .butn:hover {
    background: #ddd;
    color: black;
  }